<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="pie.image" [alt]="pie.name"></td>
            <td>{{pie.name}}</td>
            <td>{{pie.description}}</td>
            <td>{{pie.price}}</td>
            <td>{{pie.stock}}</td>
        </tr>
    </tbody>
</table>
