<h3>Lista de tartas</h3>
<table class="table table-dark table-striped text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cargá tu pedido</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pie of cackes" [ngClass]="{'clearance': pie.clearance}">
            <td><img [src]="pie.image" [alt]="pie.name"></td>
            <td>{{pie.name}}</td>
            <td>{{pie.description}}</td>
            <td>{{pie.price | currency}}</td> 
            <td><span class="badge rounded-pill text-bg-light" *ngIf="pie.stock==0">Sin Stock</span></td>
            <td>
                <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" (click)="downQuantity(pie)">-</button>
                <input 
                type="text" 
                class="form-control"
                [(ngModel)]="pie.quantity"
                >
                <button class="btn btn-outline-secondary" (click)="upQuantity(pie)">+</button>
            </div>
            </td>
        </tr>
    </tbody>
</table>
