div.title{
    margin: 1%;
    padding: .5%;
    background-color: rgb(51, 49, 49);
}
h1{
    font-size: 100%;
    padding-left: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;

}

