<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{title}}</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">Nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="title">
  <h1>La porción justa de dulzura</h1>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="navbar navbar-expand-lg bg-light">{{title}}</footer>